# Import all the Liberaries

In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
pd.set_option('display.float_format', '{:.2f}'.format)

# Import Data

In [3]:
data = pd.read_csv('heart_attack_prediction_dataset.csv')

# Descriptive analysis

In [8]:
print("Shape of the data:",data.shape)
print(data.info())
print(data.describe())
data.head()

Shape of the data: (8763, 26)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB
None
               Age  Cholesterol   Heart Rate     Diabetes  Family History  \
count  8763.000000  8763.000000  8763.000000  8763.000000     8763.000000
mean     53.707977   259.877211    75.021682     0.652288        0.492982
std      21.249509    80.863276    20.550948     0.476271        0.499979
min      18.000000   120.000000    40.000000     0.000000        0.000000
25%      35.000000   192.000000    57.000000     0.000000        0.000000
50%      54.000000   259.000000    75.000000     1.000000        0.000000
75%      72.000000   330.000000    93.000000     1.000000        1.000000
max      90.000000   400.000000   110.000000     1.000000        1.000000

           Smoking      Obesity  Alcohol Consumption  Exercise Hours Per Week  \
count  8763.000000  8763.000000          8763.000000              8763.000000
mean      0.896839     0.501426             0.598083                10.014284
std       0.304186     0.500026             0.490313                 5.783745
min       0.000000     0.000000             0.000000                 0.002442
25%       1.000000     0.000000             0.000000                 4.981579
50%       1.000000     1.000000             1.000000                10.069559
75%       1.000000     1.000000             1.000000                15.050018
max       1.000000     1.000000             1.000000                19.998709

       Previous Heart Problems  Medication Use  Stress Level  \
count              8763.000000     8763.000000   8763.000000
mean                  0.495835        0.498345      5.469702
std                   0.500011        0.500026      2.859622
min                   0.000000        0.000000      1.000000
25%                   0.000000        0.000000      3.000000
50%                   0.000000        0.000000      5.000000
75%                   1.000000        1.000000      8.000000
max                   1.000000        1.000000     10.000000

       Sedentary Hours Per Day         Income          BMI  Triglycerides  \
count              8763.000000    8763.000000  8763.000000    8763.000000
mean                  5.993690  158263.181901    28.891446     417.677051
std                   3.466359   80575.190806     6.319181     223.748137
min                   0.001263   20062.000000    18.002337      30.000000
25%                   2.998794   88310.000000    23.422985     225.500000
50%                   5.933622  157866.000000    28.768999     417.000000
75%                   9.019124  227749.000000    34.324594     612.000000
max                  11.999313  299954.000000    39.997211     800.000000

       Physical Activity Days Per Week  Sleep Hours Per Day  Heart Attack Risk
count                      8763.000000          8763.000000        8763.000000
mean                          3.489672             7.023508           0.358211
std                           2.282687             1.988473           0.479502
min                           0.000000             4.000000           0.000000
25%                           2.000000             5.000000           0.000000
50%                           3.000000             7.000000           0.000000
75%                           5.000000             9.000000           1.000000
max                           7.000000            10.000000           1.000000

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

# Custom Functions

# Pre - Processing of the data

In [ ]:
# Lable Encode the Gender and Diet Features
#

In [ ]:
data['Diet']

0         Average
1       Unhealthy
2         Healthy
3         Average
4       Unhealthy
          ...
8758      Healthy
8759      Healthy
8760      Average
8761    Unhealthy
8762      Healthy
Name: Diet, Length: 8763, dtype: object

In [ ]:
Dite,sex,Country,Continent,Hemisphere, need to be on hot incoded

In [ ]:
Heart Attack Risk

In [120]:
LabelEncoder?

Init signature: LabelEncoder()
Docstring:
Encode target labels with value between 0 and n_classes-1.

This transformer should be used to encode target values, *i.e.* `y`, and
not the input `X`.

Read more in the :ref:`User Guide <preprocessing_targets>`.

.. versionadded:: 0.12

Attributes
----------
classes_ : ndarray of shape (n_classes,)
    Holds the label for each class.

See Also
--------
OrdinalEncoder : Encode categorical features using an ordinal encoding
    scheme.
OneHotEncoder : Encode categorical features as a one-hot numeric array.

Examples
--------
`LabelEncoder` can be used to normalize labels.

>>> from sklearn.preprocessing import LabelEncoder
>>> le = LabelEncoder()
>>> le.fit([1, 2, 2, 6])
LabelEncoder()
>>> le.classes_
array([1, 2, 6])
>>> le.transform([1, 1, 2, 6])
array([0, 0, 1, 2]...)
>>> le.inverse_transform([0, 0, 1, 2])
array([1, 1, 2, 6])

It can also be used to transform non-numerical labels (as long as they are
hashable and comparable) to numerical labels.

>>> le = LabelEncoder()
>>> le.fit(["paris", "paris", "tokyo", "amsterdam"])
LabelEncoder()
>>> list(le.classes_)
[np.str_('amsterdam'), np.str_('paris'), np.str_('tokyo')]
>>> le.transform(["tokyo", "tokyo", "paris"])
array([2, 2, 1]...)
>>> list(le.inverse_transform([2, 2, 1]))
[np.str_('tokyo'), np.str_('tokyo'), np.str_('paris')]
File:           c:\users\shaikabc\onedrive - novartis pharma ag\desktop\gen ai\ann heart attack risk prediction\.venv\lib\site-packages\sklearn\preprocessing\_label.py
Type:           type
Subclasses:

In [123]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)
enc.categories_
enc.transform([['Female', 3], ['Male', 1]])

array([[0., 2.],
       [1., 0.]])

In [124]:
pd.DataFrame([['Male', 1], ['Female', 3], ['Female', 2]])

        0  1
0    Male  1
1  Female  3
2  Female  2